[Desktop Entry]
Name=Psi
Comment=Send and receive instant messages using the Jabber system
Comment[pl]=Psi: klient Jabbera dla QT/KDE
Exec=psi
Icon=/usr/share/psi/image/icon_48.png
Terminal=false
Type=Application
Categories=Qt;Network;InstantMessaging
Encoding=UTF-8
# vi: encoding=utf-8
