[Desktop Entry]
Name=Psi
Name[pl]=Psi
Comment=Send and receive instant messages using the Jabber system
Comment[pl]=Psi: klient Jabbera dla QT/KDE
Exec=psi
Icon=/usr/share/psi/image/icon_48.png
Terminal=0
Type=Application
Categories=Qt;Application;Network;Communication
